body {
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    background-color: #f7f7f7; /* Slightly warm gray background */
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}

select {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.city-info {
    margin: 20px auto;
    width: 60%;
    border: 1px solid #333; /* Thin off-black border */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: white;
}

h1 {
    font-weight: bold;
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
